services:
  devcontainer:
    build:
      context: ..
      dockerfile: .devcontainer/Dockerfile
    volumes:
      - ..:/app:cached
    command: /bin/sh -c "while sleep 1000; do :; done"
    user: vscode
